@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Agri-Energy Connect</h1>
            <p class="lead">The Bridge Between Agriculture and Innovation. The future of agriculture is in your hands!</p>

            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg mt-3">Let's Get Started</a>
        </div>

        <div class="col-md-6 text-center">
            <img src="~/images/background_home.jpg" alt="Home Background" class="img-fluid" />
        </div>
    </div>
</div>
